@import '../../../../../colors';

.action-shool {
    &:hover {
        i { color: $primary; }
        ul { display: flex; }
    }
}

.btn {
    width: 90px;
    height: 27px;
    cursor: pointer;
    padding-left: 10px;
    border-radius: 2px;
    padding-top: 10px;
    line-height: 0;

    &-edit {
        background: #F3F6FF;
        color: $primary;
        font-size: 10px;
    }

    &-delete {
        background: #FDF4F4;;
        color: $color-error;
        font-size: 10px;
    }

    &-active {
        background: #FDF4F4;;
        color: var(--bs-success);
        font-size: 10px;
    }
}

ul {
    display: none;
    margin-left: 0px;
    z-index: 99999999;
    position: absolute;
    left: -110px;
    top: 0px;
    width: 110px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(#000, 0.1);
    border-radius: 4px;
    padding: 10px;
    list-style: none;
}