<div class="container-fluid sticky-top bg-white shadow-sm">
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0">
            <a [routerLink]="'home'" class="navbar-brand">
                <h1 class="m-0 text-uppercase text-primary"><i class="fa fa-clinic-medical me-2"></i>Medinova</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                    <a [routerLink]="'home'" [routerLinkActive]="'active'" class="nav-item nav-link">Trang chủ</a>
                    <a [routerLink]="'about'" [routerLinkActive]="'active'" class="nav-item nav-link">Chúng tôi</a>
                    <a [routerLink]="'service'" [routerLinkActive]="'active'" class="nav-item nav-link">Gói dịch vụ</a>
                    <a [routerLink]="'contact'" [routerLinkActive]="'active'" class="nav-item nav-link">Liên hệ</a>
                    <div *ngIf="authenticated" class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Tài khoản</a>
                        <div class="dropdown-menu m-0">
                            <a [routerLink]="'my-appointment'" class="dropdown-item">Lịch hẹn</a>
                            <a [routerLink]="'my-product'" class="dropdown-item">Gói dịch vụ</a>
                            <a [routerLink]="'cart'" class="dropdown-item">Giỏ hàng</a>
                            <a [routerLink]="'my-bill'" class="dropdown-item">Lịch sử mua hàng</a>
                            <a [routerLink]="'profile'" class="dropdown-item">Thông tin cá nhân</a>
                            <a class="dropdown-item" (click)="logout()">Đăng xuất</a>
                        </div>
                    </div>
                    <a *ngIf="!authenticated" [routerLink]="['auth', 'login']" class="nav-item nav-link">Đăng nhập/Đăng ký</a>
                </div>
            </div>
        </nav>
    </div>
</div>
