<form [formGroup]="formGroup" (submit)="submit()" class="d-flex">

    <div class="col-md-3">
        <label>Người dùng</label>
        <input class="form-control" formControlName="username" placeholder="Nhập tài khoản hoặc họ tên" />
    </div>

    <div class="col-md-3">
        <label>Trạng thái</label>
        <ng-select
            [items]="_status"
            [clearable]="true"
            [searchable]="false"
            bindValue="id"
            bindLabel="label"
            formControlName="status"
            placeholder="Chọn trạng thái"
        ></ng-select>
    </div>

    <div class="col-md-3">
        <label>Vai trò</label>
        <ng-select
            [items]="authorities$ | async"
            [clearable]="true"
            [searchable]="false"
            bindValue="code"
            bindLabel="name"
            formControlName="authority"
            placeholder="Chọn vai trò"
        ></ng-select>
    </div>

    <button class="btn-primary align-self-end">Tìm kiếm</button>
</form>