<div class="action-shool position-relative">
    <div class="cursor-pointer"><i class="fa fa-ellipsis-v"></i></div>
    <ul class="flex-column">
        <li class="btn btn-edit" (click)="showBillDetails(billDetails)">
            Xem chi tiết
        </li>
    </ul>
</div>

<ng-template #billDetails>
    <div>
        <div class="modal-header">
            Chi tiết hóa đơn: {{ params.data.code }}
        </div>
        <div class="modal-body">
            <ag-grid-angular
                style="height: 500px"
                class="mt-4 ag-theme-alpine"
                [tooltipShowDelay]="0"
                [columnDefs]="columnDef"
                [rowData]="rowData"
                [headerHeight]="56"
                [rowHeight]="56"

                (gridColumnsChanged)="gridColumnsChanged($event)"
                (gridReady)="gridReady($event)"
            ></ag-grid-angular>
        </div>
        <div class="modal-footer justify-content-center">
            <button class="btn btn-close" (click)="matDialogRef.close()">Đóng</button>
        </div>
    </div>
    
</ng-template>