<ng-container *ngIf="data">
    <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
        <div style="height: 200px;" class="w-100 mb-3 rounded">
            <img class="w-100 h-100" [src]="data.avatar | resource | safe:'resourceUrl'" [alt]="data.name" />
        </div>
        <h4 class="mb-3">{{ data.name }}</h4>
        <p class="m-0 desc" [title]="data.shortDescription">{{ data.shortDescription }}</p>
        <div *ngIf="!shop" class="d-flex justify-content-between align-items-center w-100">
            <p class="m-3 fw-bold">Số lượng: {{ data.quantity }}</p>
            <i class="fas fa-qrcode cursor-pointer fw-bold" style="font-size: 25px;" (click)="openQrCode()"></i>
        </div>
        <p *ngIf="shop" class="m-3 fw-bold">Giá: {{ data.price | currency:'VND' }}</p>

        <div class="mb-2" *ngIf="shop">
            <button class="btn btn-primary" (click)="addToCart()">
                <i class="fas fa-cart-plus"></i>
            </button>
        </div>
    </div>
</ng-container>