$primary: #4e73df;
$text-primary: #101840;

$color-error: #D14343;;
$color-arrow-select-box: #f4f6fa;
$color-border-container: #e6e8f0;
$color-header-grid: #8f95b2;
$color-close: #696F8C;

$bg-header-group: #edeff5;
$bg-header-cell: #F4F6FA;
$bg-close: #E6E8F0;

$border-group-row: #d8dae5;
