<div>
    <div class="d-flex justify-content-between">
        <h2 mat-dialog-title *ngIf="!data">Thêm mới chuyên khoa</h2>
        <h2 mat-dialog-title *ngIf="data">Cập nhật chuyên khoa</h2>
        <span class="time-close" (click)="onClose(null)">&times;</span>
    </div>

    <form [formGroup]="formGroup" (submit)="submit()">

        <mat-dialog-content class="d-flex flex-column gap-20">
            <div>
                <label class="required">Tên chuyên khoa</label>
                <input placeholder="Nhập tên chuyên khoa" formControlName="name" class="form-control" />
                <div *ngIf="(getControl.name.dirty || getControl.name.touched) && getControl.name.invalid">
                    <div *ngIf="getControl.name.errors.required" class="error-validate">
                        Tên chuyên khoa không được trống
                    </div>
                </div>
            </div>

            <div>
                <label class="required">Trạng thái</label>
                <ng-select
                    appendTo="body"
                    [items]="status"
                    [clearable]="false"
                    [searchable]="false"
                    bindValue="id"
                    bindLabel="label"
                    formControlName="status"
                ></ng-select>
                <div *ngIf="(getControl.status.dirty || getControl.status.touched) && getControl.status.invalid">
                    <div *ngIf="getControl.status.errors.required" class="error-validate">
                        Trạng thái không được trống
                    </div>
                </div>
            </div>
        </mat-dialog-content>
        
        <mat-dialog-actions align="center">
            <button type="button" class="btn-close mr-2" (click)="onClose(null)">Hủy bỏ</button>
            <button class="btn-primary">Lưu lại</button>
        </mat-dialog-actions>
    </form>
</div>