<div class="table-responsive">
    <table class="table table-bordered m-0">
        <thead>
            <tr>
                <th class="text-center py-3 px-4" style="width: 40px;">STT</th>
                <th class="text-center py-3 px-4" style="width: 100px;">Mã hóa đơn</th>
                <th class="text-right py-3 px-4" style="width: 120px;">Ngày mua</th>
                <th class="text-right py-3 px-4" style="width: 120px;">Trạng thái</th>
                <th class="text-right py-3 px-4" style="width: 100px;">Tổng tiền</th>
                <th class="text-right py-3 px-4" style="width: 100px;">Thanh toán</th>
                <th class="text-center align-middle py-3 px-0" style="width: 80px;"></th>
            </tr>
        </thead>
        <tbody *ngIf="billResponse">
            <tr *ngFor="let c of billResponse.data; let i = index">
                <td class="p-4">
                    {{ i + 1 }}
                </td>
                
                <td class="text-right font-weight-semibold align-middle p-4">{{ c.id }}</td>
                <td class="text-right font-weight-semibold align-middle p-4">{{ c.createdDate | date:'dd/MM/yyyy HH:mm' }}</td>
                <td class="align-middle p-4">
                    {{ c.status === 'APPROVED' ? 'Đã thanh toán' : 'Chưa thanh toán' }}
                </td>
                <td class="text-right font-weight-semibold align-middle p-4">{{ c.total | currency:'VND' }}</td>
                <td class="text-center align-middle px-0">
                    <a *ngIf="c.status !== 'APPROVED'" [href]="c.paymentLink | safe:'url'" target="_blank">Thanh toán</a>
                </td>
                <td class="text-center align-middle px-0">
                    <button title="Xem chi tiết" class="btn btn-primary" (click)="showDetail(c)">
                        <i class="fas fa-eye"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <app-paging
        *ngIf="billResponse"
        [dataLength]="billResponse.data.length"
        [page]="billResponse.page"
        [pageSize]="billResponse.pageSize"
        [total]="billResponse.total"
        (paginate)="paginate($event)"
    ></app-paging>
</div>